h1 a {
  color: black;
}

.favorites-page {
  padding: 20px;
  max-width: 90%;
  margin: 0 auto;
}

.favorites-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgba(165, 87, 95, 0.945);
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  min-width: 200px;
}

.favorites-header h2 {
  margin: 0;
}

.close-button {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.close-button:hover {
  color: #f0c419;
}

.favorite-video {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 70%;
  margin: 0 auto 20px; 
}

.cancel-button-wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
}

.cancel-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #f00;
  cursor: pointer;
}

.cancel-button:hover {
  color: #a00;
}
