body {
  margin: 0;
}

.navigation {
    display: flex;
    justify-content:space-between;
    align-items: center;

    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 2rem; 
    border-radius: 5px;
    width: 100%; 
    background-color: rgba(165, 87, 95, 0.945);
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.action-buttons {
  display: flex;
  align-items: center;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.navigation input[type="text"] {
    width: 300px;
    height: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0;
    transition: all 0.3s;

  }
  
  .navigation input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  .navigation input[type="text"]::placeholder {
    color: #999;
  }

.Modal-button-open {
    font-size: 30px;
    color: rgb(247, 246, 248);
    cursor: pointer;
    margin-left: 15px;
}

.logo {
    font-size: 50px;
    color: rgb(255, 255, 255);

}

.search-icon {
  position: absolute;
  right: 1rem;
  font-size: 1.2rem;
  color: #999;
  cursor: pointer;
}


@media (max-width: 800px) {
  .navigation {
    padding: 0 1rem;
    box-shadow: none;
  }



  .nav-items {
    flex-direction: column;
  }

  .navigation input[type="text"] {
    width: 100%;
    margin-bottom: 1rem;
  }
}