/* App.css */

.App {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  

  .background-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-image: url('../public/background-image/1404.jpg');
    background-size: cover; /* Changed from 'contain' to 'cover' */
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  .background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    z-index: -1;

    object-fit: cover;
  }
  

  
  