.App {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Updated to "stretch" */
  min-height: 100vh; /* Added min-height to stretch the content */
}

.background-video-container {
  flex: 1; /* Added flex: 1 to take remaining space */
  background-image: url('../public/background-image/1404.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background-video {
  display: none; /* Added to hide the background video */
}
